body {
    font-family: "Pacifico", cursive;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    transition: background-color 0.5s ease;
}

#quiz-container {
    background: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 16px;
    border: solid;
    
    
}

#flag-container {
    margin-bottom: 8px;
}

#flag {
    width: 100%;
    max-width: 300px;
    border: solid;
    border-radius: 16px;
}

#options-container button {
    font-family: "Pacifico", cursive;
    display: block;
    margin: 8px auto;
    padding: 8px 20px;
    background: #fff;
    cursor: pointer;
    color: black;
    font-size: 16px;
    border: solid;
    border-radius: 16px;
    transition: background-color 0.5s ease;
}

#options-container button:hover {
    background: #ddd;
}

#next-btn {
    padding: 10px 20px;
    background-color: #fff;
    color:black;
    border: solid;
    border-radius: 16px;
    cursor: pointer;
    font-family: "Pacifico", cursive;
    transition: background-color 0.5s ease;
    
}

#next-btn:hover {
    background-color: #ddd;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
.temi{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: solid;
    align-items: center;
    font-size: 24px;
    padding: 8px;
    background-color: #fff;
    width: 40%;
    margin-left: 10px;
    margin-top: 10px;

}
.btn-temi{
    font-family: "Pacifico", cursive;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.btn-temi:hover{
    background-color: #ddd;
}
.div-vuota-tema{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width:  33%;
}
.div-vuota-punteggi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
}
.div-vuota-quiz{
    width: 34%;
}
.punteggio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    border: black solid;
    padding: 16px;
    width: 50%;
    background-color: #fff;
    align-items: center;
    height: 25%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.testo-punteggio{
    font-size: 20px;
}

